
    bg colgroup {
        background-color: lightblue;
    }
    .container {
        background-color: lightgray;
        width: auto;
        margin: 20px;
        padding: 20px;
    }
    #aside {
        background-color: lightyellow;
        width: 200px;
        padding: 10px;
        margin-left: 20px;

    
    }