
    bg colgroup {
        background-color: lightblue;
    }
    .container {
        background-color: lightgray;
        width: auto;
        margin: 20px;
        padding: 20px;
    }
   .layout {
  display: flex;
  gap: 20px; /* space between article and aside */
}

#articles {
  flex: 3;
}

#aside {
  flex: 1;
  background-color: #f1f1f1;
  padding: 10px;
}
@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }
}
    #main {
        background-color: whitesmoke;
        padding: 20px;
        margin-right: 240px;
        font-size: 16px;

    }